[Unit]
Description=Eggercise web server in docker 
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a eggercise.rs
ExecStop=/usr/bin/docker stop -t 2 eggercise.rs

[Install]
WantedBy=multi-user.target
