@import 'open-props/normalize.min.css';
@import 'open-props/buttons.min.css';
@import 'open-props/media.min.css';
@import './math_input.css';

body, html {
    margin: 0;
}

._chartistry {
    fill: var(--text-1);
}

._chartistry ._chartistry_snippet > svg {
    display: inline;
}

body {
    display:grid;
}

body > .container {
    display: grid;
    place-content: safe center;
    overflow-x: auto;
    padding-block:var(--size-8) var(--size-8);
    margin-bottom: auto;
    flex-grow: 1;
}

.nav {
    position:absolute;
    margin: 0;
    z-index:var(--layer-1);
    top: 0;
    right: 0;
    left: 0;
    overflow-x:auto;
    padding-block:var(--size-2) var(--size-5);
    padding-inline:var(--size-2) var(--size-4);
    
    @media (--md-n-above) {
        padding-inline-start:var(--size-8); 
        padding-inline-end:var(--size-8); 
    }

    display:flex;
    align-items: center;
    white-space: nowrap;
    gap: var(--size-4);

    background-image:linear-gradient(to bottom,hsl(var(--gray-3-hsl) / 98%) 1ch,75%,hsl(var(--gray-3-hsl) / 0%));
    @media (prefers-color-scheme: dark) {
        background-image:linear-gradient(to bottom,hsl(var(--gray-10-hsl) / 98%) 1ch,75%,hsl(var(--gray-10-hsl) / 0%));
    }
}

.nav a[href]:not(:hover,:focus-visible) {
    color: var(--text-1);
    text-decoration-color: var(--link);
}

.nav a.in-view {
    text-decoration: underline double;
    text-underline-offset: 4px;
}

[data-theme=light] .nav {
    padding-block-start: var(--size-3);
    background: var(--surface-1);
}

.nav > li {
    display: inline-block;
}

.nav > li#right {
    margin-left: auto;
}

.footer {
    position:sticky;
    height: fit-content;
    margin: 0;
    margin-top: auto;
    z-index:var(--layer-1);
    bottom: 0;
    right: 0;
    left: 0;
    overflow-x:auto;
    padding-block:var(--size-3) var(--size-1);
    padding-inline:var(--size-2) var(--size-4);
    
    @media (--md-n-above) {
        padding-inline-start:var(--size-8); 
        padding-inline-end:var(--size-8); 
    }

    display:flex;
    align-items: center;
    white-space: nowrap;
    gap: var(--size-4);

    background-image:linear-gradient(to top,hsl(var(--gray-3-hsl) / 98%) 1ch,75%,hsl(var(--gray-3-hsl) / 0%));
    @media (prefers-color-scheme: dark) {
        background-image:linear-gradient(to top,hsl(var(--gray-10-hsl) / 98%) 1ch,75%,hsl(var(--gray-10-hsl) / 0%));
    }
}

.footer > li {
    display: inline-block;
}

section {
    padding-block: var(--size-fluid-1);
}

ul.error-list {
    color: var(--red-9);
    list-style-type: none;
    padding: var(--size-1);
}

.error {
    color: var(--red-9);
}

.block-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-basis: var(--size-content-2);
    gap: var(--size-5) var(--size-8);
    align-items: flex-start;
}